.section_wrapper {
  padding: 30px 7vw 0px;
  background: var(--background-linear-grad);
  font-size: 16px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  /* justify-content: space-between; */

  height: 540px;
}

.images {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  left: 30%;
}

.mobile_body {
  position: absolute;
  top: -30px;
  left: -13px;
  z-index: 3;
  height: 31.25em;
  width: 18.75em;
}

.mobile_content {
  position: relative;
  z-index: 1;
  height: 27em;
  width: 18em;
}

.text_section {
  width: 45%;
  display: flex;
  align-items: start;
  justify-content: space-evenly;
  flex-direction: column;
  padding-left: 8%;
  position: relative;
}
.mobile_below {
  z-index: 5;
  height: 450px;
  /* height: 28.125em; */
}

.arrow {
  position: absolute;
  left: 4%;
  top: 15%;
}

.heading {
  font-size: 3em;
  font-weight: 600;
  color: var(--color-blue-dark2);
  line-height: 1.4em;
  margin: 0px;
}

.heading span {
  color: var(--color-blue-primary);
}

.para {
  font-family: "Lato";
  font-size: 1em;
  font-weight: 700;
  line-height: 1.5em;
  color: #414146;
  margin: 1em 0px 0.5em;
}

.input_wrapper {
  display: flex;
  align-items: center;
  justify-content: start;
  height: 3em;
  width: 21em;
  background-color: #fafbfe;
  border: 1px solid #f0f0f0;
  border-radius: 8px;
  box-sizing: border-box;
}

.input_first {
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #b4b4be4d;
  width: 3.45em;
  height: 100%;
  color: #000000;
  font-weight: 700;
  font-family: "Lato";
  font-size: 1em;
}

.input_wrapper input {
  margin: 0px;
  padding: 0px 1.5em;
  border: none;
  width: 100%;
  height: 100%;
  font-size: 0.75em;
  font-weight: 500;
  color: #b4b4be;
}

.input_wrapper input:focus {
  outline: none;
}

/* to hide input type number button */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

.button_mui {
  height: 3em;
}
.button_mui:hover {
  background-color: var(--color-blue-secondary) !important;
}

.button_mui:focus {
  background-color: var(--color-blue-secondary) !important;
}

.input_button_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.appstore_btn_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;

  margin-top: 2em;
}

.appstore_btn_wrapper svg {
  height: 4em;
  width: 12.5em;
  cursor: pointer;
}
